@import "tailwindcss";


@layer base {
  :root {
    --background: #0f0f11;
    /* Deep Space Grey */
    --foreground: #ffffff;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    @apply antialiased overflow-x-hidden;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-xl border border-white/10 shadow-2xl;
  }

  .text-glow {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.4);
  }
}